@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Jonatas Santos Sá<br />
    Renova Soluções em Tecnologia<br />
    <abbr title="Phone">Telefone: </abbr>
    (71) 99111-0795
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">jonatas.sa.25@gmail.com</a><br />
   
</address>
